html, body {
    margin: 0;
    height: 100%;
    background-image: linear-gradient(to left bottom, #48e200, #1cd47e, #13ceb5, #179ce9, #1c6ef3); 
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  canvas {
    display: block;
  }
  .logoutBtn {
    cursor: pointer;
    background: #36EB8B;
    border: 1px solid;
    border-radius: 5px;
    position: absolute;
    left: 88%;
    top: 10%;
    text-align: center;
    font-size: 20px;
    color: white;
   }
   .logoutBtn:hover{
     background: #C9302C;
   }
  .header
  {
      color: white;font-family: 'Indie Flower', cursive;font-size: 45px;letter-spacing: 10px;margin-top: 0px;
      letter-spacing: 17px;
  }

  .header img{
    width: 80px;margin-left: -15px;
  }
  #box {
    position: relative;
    border-radius: 15px;
    width: 80%;
    background: #88E4D5;
  } 
  #greet , #addroom{
    line-height: 0px;
    color: white;
  }
  #room_name {
    border: 0px solid;
    height: 30px;
    width: 60%;
  }
  #room_password {
    border: 0px solid;
    height: 30px;
    width: 60%;
  }
  .btn{
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    background-color :rgb(54, 235, 139);
    padding: 10px;
    cursor: pointer;
  }
  .room_name
{
	cursor: pointer;
	font-size: 20px;
}
.trending {
  color: white;
  font-size: 25px;
}
 